<header>
        <title>App</title>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
      
        <!-- stylesheet -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Noto+Sans|Nunito&display=swap" rel="stylesheet">
        <!-- <link href="index.css" type="text/css" rel="stylesheet"> -->
      </header> 
      
      <body>
        <div class="container">
            <div class = "row">
                <div class = "col-lg-4" style="margin-top: 110px;">
                  <div class ="list">
                      <h2>Sistem Pakar Prediksi Tingkat Risiko Karies Gigi Berdasarkan Gaya Hidup</h2>
                      <hr>
                      <h4><strong>Panduan Pengisian:</strong></h4>
                      <ul>
                          <li>
                              Setiap pertanyaan yang ada disamping kanan adalah mengenai gaya hidup Anda.
                          </li>
                          <li>
                              <strong>Tidak ada jawaban yang benar atau salah karena ini adalah mengenai gaya hidup Anda.</strong>
                          </li>
                          <li>
                              Isi hanya dengan <strong>angka</strong> pada kolom isian yang telah disediakan.
                          </li>
                          <li>
                              Tekan tombol <strong>Selesai</strong> jika Anda telah mengisi semua pertanyaan yang disediakan.
                          </li>
                      </ul>
                      <hr>
                      <p class = "credit" title = "Alessandro Ferdian, Lionissa R.D, Octavian Axel P., Vincent A.N, & Zefanya F."><em>Tim Bubble Sort untuk Sistem Pakar - 2019</em></p>
                  </div> 
                </div>
      
                <div class = "col-lg-1">
      
                </div>
      
                <div class = "col-lg-7 questionnaire">
                    <form [formGroup] = "form">
                        <p>Seberapa sering Anda menggosok gigi dalam seminggu?</p>
                        <input type="number" name="sikatgigi" placeholder="Frekuensi Sikat Gigi (dalam seminggu)" min="0" formControlName = "sikatgigi" required>
                        <p *ngIf="!form.get('sikatgigi').valid && form.get('sikatgigi').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br>
                    
                        <p>Seberapa banyak Anda mengkonsumsi makanan manis dalam seminggu?</p>
                        <input type="number" name="manis" placeholder="Frekuensi Konsumsi Makanan Manis (dalam seminggu)" min="0" formControlName = "manis" required>
                        <p *ngIf="!form.get('manis').valid && form.get('manis').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br>
                    
                        <p>Seberapa banyak Anda mengkonsumsi minuman bersoda dan/atau alkohol dalam seminggu?</p>
                        <input type="number" name="minuman" placeholder="Frekuensi Konsumsi Bersoda dan/atau Alkohol (dalam seminggu)" min="0" formControlName = "minuman" required>
                        <p *ngIf="!form.get('minuman').valid && form.get('minuman').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br>
                    
                        <p>Seberapa banyak Anda mengkonsumsi rokok dalam sehari?</p>
                        <input type="number" name="rokok" placeholder="Frekuensi Konsumsi Rokok (dalam sehari)" min="0" formControlName = "rokok" required>
                        <p *ngIf="!form.get('rokok').valid && form.get('rokok').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br>
                    
                        <p>Seberapa lama Anda menyikat gigi?</p>
                        <input type="number" name="lamasikat" placeholder="Lama Sikat Gigi (dalam menit)" min="0" formControlName = "lamasikat" required>
                        <p *ngIf="!form.get('lamasikat').valid && form.get('lamasikat').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br>
                    
                        <p>Seberapa sering Anda memeriksakan gigi Anda ke dokter dalam setahun?</p>
                        <input type="number" name="periksa" placeholder="Frekuensi Pemeriksaan Gigi ke Dokter Gigi (dalam setahun)" min="0" formControlName = "periksa" required>
                        <p *ngIf="!form.get('periksa').valid && form.get('periksa').touched"><em>Isilah dengan sebuah angka</em></p>
                        <br><br><br>
                    
                        <p>Dengan menekan tombol ini, Anda menyetujui untuk memberikan informasi yang telah Anda isi untuk kami simpan. Data Anda akan kami gunakan untuk penelitian, tidak akan disebarkan, serta akan tetap terjaga kerahasiaannya.</p>
                        <div class="text-center">
                            <button class="btn btn-warning" type="submit" value="Submit" title="Tekan ini untuk menyelesaikan proses pengisian" (click)="onSubmit()">Selesai</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <br><br>
      </body>
