input 
{
    width: 500px;
}

body
{
    background-color: RGB(255, 232, 207);
}

.container
{
    margin-top: 20px;
}

.list
{
    text-align: justify;
}

.list
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.list h2
{
    font-family: 'Noto Sans', sans-serif;
}

.list ul
{
    font-family: 'Nunito', sans-serif;
}

.questionnaire
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

footer h6
{
    color: white;
    background: black;
    width: 100%;
    height: 45px;
    padding: 10px;
    position: absolute;
}