<header>
    <title>App</title>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
      
    <!-- stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Noto+Sans|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link href="index.css" type="text/css" rel="stylesheet"> -->
</header>

<body style="height: 100vh;">
    <div class = "container" style="padding-top:30vh;">
        <div class = "row">
            <div class = "col-lg-4">
                <div class = "row">
                    <div class = "col-lg-12">
                        <div class = "list">
                            <h2>Sistem Pakar Prediksi Tingkat Risiko Karies Gigi Berdasarkan Gaya Hidup</h2>
                            <hr>
                            <p class = "credit" title = "Alessandro Ferdian, Lionissa R.D, Octavian Axel P., Vincent A.N, & Zefanya F."><em>Tim Bubble Sort untuk Sistem Pakar - 2019</em></p>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-lg-12">
                        <div class = "list">
                            <span class = "material-icons" style="font-size: 40px; cursor: pointer; margin-left: 140px;" (click)= "return()">home</span>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class = "col-lg-1">

            </div>

            <div class = "col-lg-7 questionnaire" style="margin-top: -2px;">
                <p>Terima kasih telah membantu ujicoba <strong>Sistem Pakar Prediksi Tingkat Risiko Karies Gigi Berdasarkan Gaya Hidup</strong>. Hasil yang ditunjukkan berikut ini <strong>bukan merupakan hasil yang bersifat akhir</strong> sehingga tidak dapat dijadikan sebagai acuan utama untuk diagnosis. Direkomendasikan untuk melakukan kunjungan ke dokter gigi Anda untuk melakukan pemeriksaan lebih lanjut. <br> Berikut ini adalah tingkat kemungkinan resiko Anda terkena karies gigi, semakin tinggi nilai menunjukkan semakin tinggi kemungkinan Anda untuk terkena Karies Gigi:</p>
                <p style = "text-align: center; font-size: 30px; color: RGB(224, 99, 68)">
                    <strong>{{ result }}</strong></p>
                <hr>
                <div class = "row">
                    <div class = "col-lg-4">
                        <p style = "margin-top: 30px; margin-left: 50px;"><strong>Rentang Resiko</strong></p>
                    </div>

                    <div class = "col-lg-8">
                        <!-- 0-33, 33-66, 66-100 -->
                        <ul>
                            <li>
                                <strong>Rendah</strong> : 0 - 33
                            </li>
                            <li>
                                <strong>Sedang</strong> : 33 - 66
                            </li>
                            <li>
                                <strong>Tinggi</strong>  : 66 - 100
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
