input 
{
    width: 500px;
}

body
{
    background-color: RGB(255, 232, 207);
    text-align: justify;
}

// .container
// {
//     margin-top: 20px;
// }

.list
{
    text-align: justify;
}

.list h2
{
    text-align: right;
    font-family: 'Libre Franklin', sans-serif;
    color: RGB(78, 54, 41);
}

.list h2:hover
{
    color: RGB(124, 77, 58);
}

.list p
{
    text-align: center;
    font-size: 11px;
}

.list 
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.list h4
{
    font-family: 'Noto Sans', sans-serif;
}

.list ul
{
    font-family: 'Nunito', sans-serif;
}

.credit:hover
{
    color: RGB(124, 77, 58);
}

.questionnaire
{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

footer h6
{
    color: white;
    background: black;
    width: 100%;
    height: 45px;
    padding: 10px;
    // position: absolute;
}